# Compiler files
cache/
out/
tmp/

# Dependencies
dependencies/
node_modules/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Bytecode
bytecode/
